<% if (index && theme.likecoin) { %>
	<div class="widget-wrap">
		<h3 class="widget-title">Likecoin</h3>
		<iframe width="100%" height="100%" scrolling="no" frameborder="0" id="player" src="https://button.like.co/in/embed/<%= theme.likecoin %>/button/?referrer=<%- url %>" allowfullscreen="true"></iframe>
	</div>
<% } %>